.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:80vw;
}

.carousel-outer{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh
}

.slider-outer {
    background-color: rgba(90, 167, 192, .181);
    width: 100vw;
    height: 75vh;
    padding-top: 2vh;
    margin: 10vh 0 15vh 0;
    display:flex;
    justify-content: center;
}

.slider-inner{
    height: 100%;
    width:40%;
}



